<!--
  Generated template for the CellEdit page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <div *ngIf="this.model">
    <form #cellForm="ngForm" (submit)="onFormSubmit(cellForm)"></form>
    <ion-item>
      <ion-label stacked>Title</ion-label>
      <ion-input type="text" required [(ngModel)]=model.title></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-input type="text" required [(ngModel)]=model.description></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Image</ion-label>
      <ion-input type="text" [(ngModel)]=model.imageUrl></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Sound</ion-label>
      <ion-input type="text" [(ngModel)]=model.audioUrl></ion-input>
    </ion-item>
    <button ion-button block type="button" (click)="onSaveClick(cellForm)">Save</button>
    <button ion-button block type="button" color="danger" *ngIf="model.id !== ''" (click)="onRemoveClick()">Remove</button>
  </div>
</ion-content>
