<ion-header>
  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <div *ngIf="this.model">
    <form #cellForm="ngForm" (submit)="onFormSubmit(cellForm)"></form>
    <ion-item>
      <ion-label stacked>Title</ion-label>
      <ion-input type="text" required [(ngModel)]=model.title></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-input type="text" required [(ngModel)]=model.description></ion-input>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button block color="light"><ion-icon name="image"></ion-icon>&nbsp;Image</button>
          </ion-col>
          <ion-col>
            <button ion-button block color="light"><ion-icon name="musical-notes"></ion-icon>&nbsp;Music</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <button ion-button block type="button" (click)="onSaveClick(cellForm)">Save</button>
    <button ion-button block type="button" color="danger" *ngIf="model.id" (click)="onRemoveClick()">Remove</button>
  </div>
</ion-content>
